[submodule "Maverick"]
	path = Maverick
	url = https://github.com/lesnolie/Maverick.git
[submodule "Galileo"]
	path = Galileo
	url = https://github.com/lesnolie/Maverick-Theme-Galileo.git
	branch = latest
[submodule "Templates/Prism"]
	path = Templates/Prism
	url = https://github.com/lesnolie/Maverick-Theme-Prism.git
	branch = simple
